h1{
    font-family: Arial, Helvetica, sans-serif;
}

.food-img.index{
    width: 200px;
    height: auto;
    display: inline-block;
}
.food-img.index:hover{
    width: 300px;
    height: auto;
    display: inline-block;
}
